/* ==========================================================================
 * Styles
 * ========================================================================== */

/* 0_vendor - normalize, sanitize, web-fonts */
@import "normalize.css";
@import "sanitize.css";

/* 1_settings (no output) variables, mixins, @font-faces */
@import "1_settings/variables";

/* 2_elements ([name] tagname selectors) body, h1, button */
@import "2_elements/body";
@import "2_elements/buttons";
@import "2_elements/forms";
@import "2_elements/lists";
@import "2_elements/tables";
@import "2_elements/typography";

/* 3_components (.c-[name] BEM class selectors) buttons, well, links, logo */
@import "3_components/greeting";
/* When in doubt, it goes here */

/* 4_layout (.l-[name] BEM class selectors) header, footer, grid, sections */

/* 5_helpers (.h-[name] class selectors) display, headings, typography */

/* 6_vendor_overrides */

/* 7_styleguide */
